@import "tailwindcss";

:root {
  --background: #fff;
  --foreground: #171717;
}

@theme{
  --font-primary: neuzeit-grotesk, Helvetica Neue, Helvetica, sans-serif
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


body{
  background-color: #F1F1F1;
  /* background-color: #0a0a0a; */
  color: #0a0a0a;
}