@import "tailwindcss";

:root {
  --background: #fff;
  --foreground: #171717;
}

@theme{
  --animate-marquee : marquee 12s linear infinite;
  @keyframes marquee {
    from {
      transform : translateX(-100%);
    }
    to{
      transform : translateX(100%)
    }
  }
  --font-primary : neuzeit-grotesk, "Helvetica Neue", Helvetica, sans-serif
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


body{
  background-color: #F1F1F1;
  /* background-color: #0a0a0a; */
  color: #0a0a0a;
}